*.o
*.lo
*.la
.deps
*/.deps
.libs
*/.libs
INSTALL
Makefile
*/Makefile
Makefile.in
*/Makefile.in
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
*lexer.[ch]
*parser.[ch]
m4/
missing
sollya
stamp-h1
test-driver
tests-lib/.deps/
tests-tool/.deps/
ylwrap
